<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link>
<meta charset="UTF-8">
<title>登录</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrapValidator.js}"></script>
<!-- 与required=true样式冲突-->
<script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<style>
    [class*="col-"] {
        padding: 5px;
    }
</style>
</head>
<body>
<div class="container  w-50">
    <form id="loginForm" name="loginForm" method="post">
        <h2 class="mb-3 text-center">用户登录</h2>
        <div class="form-group">
            <div class="row">
                <label for="mobile">手机</label>
                <input type="text" minlength="11" name="mobile" id="mobile" class="form-control col-3 offset-5"
                       required="required" placeholder="手机号码">
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="password">密码</label>
                <input type="password" id="password" name="password" minlength="8"
                       required="required" class="form-control col-3 offset-5" placeholder="密码">
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-3">
                <button class="btn btn-primary btn-block" type="button" onclick="doLogin()">登录</button>
            </div>
        </div>
    </form>
</div>
<script>
    function doLogin() {
        console.log("doLogin");
        var inputPassword = $("#password").val();
        var salt = g_password_salt;
        var salted = salt.charAt(0) + salt.charAt(2) + inputPassword + salt.charAt(4);
        var password = md5(salted);
        var dataJson = {
            mobile: $("#mobile").val(),
            password: password
        };
        $.ajax({
            url: "login",
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify(dataJson),
            dataType: "json",
            success: function (data) {
                layer.closeAll();
                if (data.code !== 200) {
                    layer.msg(data.msg);
                } else {
                    window.location.href = "/goods/page?page=1&size=1";
                }
            },
            error: function () {
                console.log("error");
            }
        })
    }
</script>
</body>
</html>